.nextui-c-kRHeuF-ibhkOxP-css {
  --nextui--gridGapUnit: calc(2 * var(--nextui-space-3));
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: calc(-1 * var(--nextui--gridGapUnit));
  width: calc(100% + var(--nextui--gridGapUnit) * 2);
  justify-content: space-around;
}
.nextui-c-BDLTQ-cuwTXc-disableAnimation-false {
  padding: 10px;
  background: #fcfcf2;
  box-shadow: 0 0 5px black;
}

.bookbutton {
  color: white;
  background-color: var(--main-color); 
  padding: 10px 20px;
  border: 2px solid  var(--main-color);
  border-radius: 20px;
  display: block;
  width: fit-content;
  margin: 10px auto;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  z-index: 1;
  
} 
.bookbutton::before {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid var(--main-color);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
@keyframes ring {
  0% {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
}
.off{
  top: 10px;
  left: 0px;
  color: white;
  width: fit-content;
  /* background-color: #003b95; */
  background-color: #d85c10;
  padding: 5px 8px;
}
.attraction-about {
  /* background: aliceblue; */
  background-color: #f7f7f7;
    padding: 26px;
    box-shadow: 0 0 3px black;
    /* box-shadow: 0 0 3px cornflowerblue; */
    border-radius: 10px;
}

.tripfeatures {
  padding: 5px 10px;
  background-color: #f1f2f3;
  border-radius: 10px;
  width: fit-content;
  margin: 6px 10px;
}
.hotel-about img {
  width: 100%;
  height: 320px;
}
.hotel-about div {
  margin-top: 20px;
  border: 3px blue;
  padding: 20px;
  font-family: sans-serif;
  box-shadow: 0 0 10px #4748ee, 0 0 20px #fe8b84;
  background: aliceblue;
  text-shadow: 0 0 black;
  font-family: cursive;
  border-radius: 0px 28px 0 28px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow: hidden;
}
.rating {
  color: green;
  font-size:17px;
  font-weight: 600;
}